@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

body {
    font-family: 'Cinzel', serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #f8f8f2;
    overflow: hidden;
}

.container2 {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
}

h1 {
    margin-bottom: 20px;
    color: #ffd700;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
    text-align: left;
}

input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    margin-top: 2%;
    padding: 10px;
    background-color: #ff4500;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #ff6347;
}

button:active {
    background-color: #cc3700;
}

#form-status {
    margin-top: 20px;
    font-size: 16px;
    color: #ffd700;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar {
    z-index: 3;
    position: fixed;
    width: 100%;
    top: 0;
    background: #24252a;
    color: #fff;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.menu-items {
    order: 2;
    display: flex;
}

.logo {
    order: 1;
    font-size: 1.8rem;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.6rem;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #f8b700;
    border-bottom: 3px solid #ff4500;
}

@media (max-width: 768px) {
    .navbar input[type="checkbox"],
    .navbar .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar .hamburger-lines {
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar .hamburger-lines .line {
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #24252a;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
    }

    .navbar .menu-items li {
        margin-bottom: 1.8rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 12px;
        right: 15px;
        font-size: 1.7rem;
    }

    .navbar input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
}

@media (max-width: 500px) {
    .navbar input[type="checkbox"]:checked ~ .logo {
        display: none;
    }
}

video {
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}
#threads {
    text-align: left;
    margin-top: 20px;
}
.thread h2 a {
    color: #f8b700;
    text-decoration: none;
}

.thread h2 a:hover {
    text-decoration: underline;
}
