/* Import Google Fonts Montserrat with weight 700 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* General body styling */
body {
    font-family: 'Montserrat', serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #f8f8f2;
    overflow: hidden;
}

/* Styling for the central container */
.container2 {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
}

/* Styling for headings */
h1 {
    margin-bottom: 20px;
    color: #ffd700;
}

/* Styling for labels */
label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
}

/* Styling for input and textarea elements */
input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

/* Additional styling for textarea */
textarea {
    height: 100px;
    resize: vertical;
}

/* Styling for buttons */
.button {
    margin-top: 2%;
    padding: 10px;
    background-color: #ff4500;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

/* Button hover effect */
.button:hover {
    background-color: #ff6347;
}

/* Button active state */
.button:active {
    background-color: #cc3700;
}

/* Styling for form status messages */
#form-status {
    margin-top: 20px;
    font-size: 16px;
    color: #ffd700;
}

/* Box-sizing reset for all elements */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* HTML font size set to 62.5% for easier rem calculations */
html {
    font-size: 62.5%;
}

/* Responsive styling for navbar toggle */
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

/* Styling for navbar container */
.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

/* Styling for navbar */
.navbar {
    z-index: 3;
    position: fixed;
    width: 100%;
    top: 0;
    background: #24252a;
    color: #fff;
}

/* Styling for navbar container layout */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

/* Styling for menu items in navbar */
.menu-items {
    order: 2;
    display: flex;
}

/* Styling for logo in navbar */
.logo {
    order: 1;
    font-size: 300%;
}

/* Styling for individual menu items */
.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

/* Styling for links in navbar */
.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    font-size: 150%;
}

/* Hover effect for links in navbar */
.navbar a:hover {
    color: #f8b700;
    border-bottom: 3px solid #ff4500;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    /* Display navbar toggle elements */
    .navbar input[type="checkbox"],
    .navbar .hamburger-lines {
        display: block;
    }

    /* Adjust navbar container for mobile */
    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    /* Styling for navbar toggle checkbox */
    .navbar input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    /* Styling for hamburger lines */
    .navbar .hamburger-lines {
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Styling for lines in hamburger menu */
    .navbar .hamburger-lines .line {
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
    }

    /* Styling for menu items in navbar for mobile */
    .navbar .menu-items {
        padding-top: 100px;
        background: #24252a;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
    }

    /* Styling for individual menu items in navbar for mobile */
    .navbar .menu-items li {
        margin-bottom: 1.8rem;
        font-size: 1rem;
        font-weight: 500;
    }

    /* Styling for logo in navbar for mobile */
    .logo {
        position: absolute;
        top: 12px;
        right: 15px;
        font-size: 1.7rem;
    }

    /* Show menu items on navbar toggle checkbox checked state */
    .navbar input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }

    /* Rotate hamburger lines for toggle animation */
    .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    /* Hide middle hamburger line on toggle */
    .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    /* Rotate hamburger lines for toggle animation */
    .navbar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
}

/* Media query for smaller screens */
@media (max-width: 500px) {
    /* Hide logo on navbar toggle checkbox checked state */
    .navbar input[type="checkbox"]:checked ~ .logo {
        display: none;
    }
}

/* Styling for video element */
video {
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    transition: 5s;
}

/* Styling for image element */
img {
    z-index: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    transition: 5s;
}

/* Additional styling for threads section */
#threads {
    text-align: left;
    margin-top: 20px;
}

/* Styling for thread titles in threads section */
.thread h2 a {
    color: #f8b700;
    text-decoration: none;
}

/* Hover effect for thread titles */
.thread h2 a:hover {
    text-decoration: underline;
}

/* Additional styling for rounded borders */
.rounded-border {
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 100px;
}
